/* Login Page Styles */

body {
    font-family: 'Poppins', sans-serif;
}

body.login {
    background: url('../assets/blur-pool-hotel-resort.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

body.login h1 {
    color: #333;
}

body.login form {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 30px 45px 30px 30px;
    border-radius: 10px;
}

body.login form input[type="text"],
body.login form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 30px 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

body.login form input[type="submit"] {
    background-color: #5cb85c;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

body.login form input[type="submit"]:hover {
    background-color: #4cae4c;
}

.login-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

/* Dashboard Styles */

body.dashboard {
    background: url('../assets/blur-pool-hotel-resort.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
}

body.dashboard h1 {
    color: #333;
}

body.dashboard p {
    color: #666;
}
body.dashboard .header {
    height: 90px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0;
    z-index: 1000;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;

    gap: 8rem;
}
body.dashboard .header button {
    margin: 0;
    padding: 12px;
    line-height: 1;

    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    border: none;
    background: none;

    cursor: pointer;
}

body.dashboard .header button:hover {
    background-color: #6d6e6e;
    color: #fff;
    border-radius: 10px;
}

body.dashboard .header button#logout-button:hover {
    background-color: #c9302c;
    color: #fff;
    border-radius: 10px;
}

/* Carousel Styles */

body.dashboard .slider {
    height: 250px;
    margin: auto;
    position: relative;
    width: 50%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

body.dashboard .slide-track {
    display: flex;
    width: calc(250px * 18);
    animation: slide 40s linear infinite;
}
body.dashboard .slide-track:hover {
    animation-play-state: paused;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 18));
    }
}

body.dashboard .slide {
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}
body.dashboard .slide img {
    width: 100%;
    height: auto;
    border-radius: 10px;

    transition: transform 1s;
}
body.dashboard .slide img:hover {
    transform: translateZ(20px);
}

body.dashboard .slider::before,
body.dashboard .slider::after {
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, 
    rgba(255, 255, 255, 0) 100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
}

body.dashboard .slider::before {
    left: 0;
    top: 0;
}

body.dashboard .slider::after {
    right: 0;
    top: 0;
    transform: rotateZ('180deg');
}